<ion-view view-title="{{'LABELS.CALCULATORS' | translate}}">
    <ion-nav-buttons side="right">
        <button class="button icon ion-gear-a" ui-sref="settings">
        </button>
        <button class = "button icon ion-refresh" ng-click = "updateList()"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <button class="button button-block button-dark" ng-click="calculateBMR(userInfo['age'], userInfo['weight'], userInfo['height'], userInfo['sex'])">
            B.M.R.
        </button>
        <button class="button button-block button-calm" ng-click="">
            B.M.I.
        </button>
        <button class="button button-block button-dark" ng-click="printUserInfo">
            Body Fat %
        </button>
        
        <div class="card">
          <div class="item item-divider currentStats">
            Current Stats
          </div>
          <div class="item item-text-wrap">
            B.M.R : {{userBMR()}} kCal
            <br>
            B.M.I : {{userBMI()}}
          </div>
        </div>
    </ion-content>
    <ion-tabs class="no-animate tabs-calm tabs-icon-top" ng-controller="LandingCtrl">
  
            <ion-tab title="{{'LABELS.HOME' | translate}}" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="lobby">
              <!-- Tab 1 content -->
            </ion-tab>
            <ion-tab title="{{'LABELS.DAILYLOG' | translate}}" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline" ui-sref="dailyLog">
              <!-- Tab 2 content -->
            </ion-tab>
            <ion-tab icon-off="{{addIcon}}" ng-click="openPopover($event)">
              <!-- Tab 3 content -->
            </ion-tab>
            <ion-tab title="{{'LABELS.CALCULATORS' | translate}}" icon-on="ion-ios-calculator" icon-off="ion-ios-calculator-outline" ui-sref="calculators">
              <!-- Tab 4 content -->
            </ion-tab>
          
            <ion-tab title="{{'LABELS.WORKOUTS' | translate}}" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" ui-sref="workouts">
              <!-- Tab 5 content -->
            </ion-tab>
        </ion-tabs>
</ion-view>