<ion-popover-view>
    <ion-content>
        <br>
        <div class = "row">
            <p class = "col center col-25">
                <a class = "popover-button icon ion-fork" ui-sref = "add-meals"></a>
            </p>
            <p class = "col center col-25">
                <a class = "popover-button icon ion-android-bicycle" ui-sref = "add-cardio-exercises"></a>
            </p>
            <p class = "col center col-25">
                <a class = "popover-button icon ion-android-bicycle" ui-sref = "add-strength-exercises"></a>
            </p>
            <p class = "col center col-25">
                <a class = "popover-button icon ion-social-youtube" ui-sref = "add-videos"></a>
            </p>
        </div>
    </ion-content>
</ion-popover-view>